<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   <add key="RMQHost" value="rmq2.pptik.id" />
    <add key="RMQVHost" value="/smarthome" />
    <add key="RMQUsername" value="smarthome" />
    <add key="RMQPassword" value="Ssm4rt2!" />
    <add key="RMQQueue" value="Sensor" />
    <add key="RMQSubRoutingKey" value="Sensor" />
    <add key="RMQPubRoutingKey" value ="Aktuator" />
    <add key="RMQExc" value="amq.topic" />
    <add key="DBPath" value="C:\\Users\\PPTIK\\Documents\\GitHub\\worker_smarthome_cloud_server\\Appdata.db"/>
    </appSettings>
</configuration>
